@import "tailwindcss";

@layer base {
  body {
    background-color: var(--color-slate-50);
    color: var(--color-slate-900);
  }
}

@layer utilities {
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }

  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}